.filter-map {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 16px 64px;
}

.list {
  gap: 12px;
}

.filter-map button {
  list-style: none;
  padding: 10px 0px;
  width: 140px;
  border: 1px solid #003585;
  color: #003585;
  border-radius: 50px;
  font-weight: 700;
}

.filter-map button:first-child {
  background-color: #A7F65C;
  color: white;
  border: 0px solid;
  font-weight: 700;
}


h1 {
  font-size: 26px;
  color: #003585;
}