.Search-input {
  padding: 16px 21px;
  border-radius: 20px 0px 0px 20px;
  border: 0px;
  width: 521px;
}

.search-btn {
  color: white;
  background-color: #ff8957;
  padding: 16px 16px;
  border-style: none;
  border-radius: 0px 20px 20px 0px;
  width: 132px;

  font-weight: 600;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003585;
  padding: 40px 76px;
}

img {
  height: 40px;
}
.left {
  display: flex;
  gap: 85px;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.right img {
  height: 24px;
}

.Login {
  display: flex;
  gap: 8px;
  align-items: center;
  color: white;
}

.Sign-in {
  font-size: 14px;
}

.cart {
  display: flex;
  gap: 4px;
  align-items: center;
}


.shape {
  background-color: #A7F65C;
  border-radius: 50px;
  color: #003585;
  padding: 2px 5px;
  font-size: 10px;
  text-align: center;
}

.title {
  margin-bottom: 44px;
}

#top {
  font-size: 50px;
  font-weight: 800;
}

#bottom {
  font-size: 50px;
  font-weight: 500;
}