.hero-container {
  height: 620px;
  background-color: #003585;
}

.hero-section {
  display: flex;
  padding: 0px 72px;
  height: 100%;
}

.hero-left {
  width: 50%;
}

.hero-right {
  width: 50%;
}

.camera {
  height: 520px;
  margin-top: 72px;
}

.Slogan {
  font-size: 64px;
  color: white;
  text-align: start;
  font-weight: 700;
  margin-top: 124px;
}

.Brand {
  color: white;
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}


ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0px;
  margin-top: 32px;
}

.shop-now{
  color: #003585;
  background-color: white;
  padding: 12px 16px;
  border-radius: 50px;
  width: 160px;
  font-weight: 700;
  text-align: center;
}

.view-more {
  color: #A7F65C;
  background-color: #003585;
  border: 1px solid #A7F65C;
  padding: 12px 16px;
  border-radius: 50px;
  width: 160px;
  font-weight: 700;
    text-align: center;
}
